.config2{
    background-image: url(../img/fondo-servicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    grid-area: body;
    grid-template-rows: 100px 720px 100px;
    grid-template-areas: 
    "body"
    "main"
    "footer"
    ;
}