main h1{
    color: white;
    padding-left: 100px;
}

.modelo{
    border: solid rgb(0, 0, 0);
    width: 800px;
    height: 500px;
    display:block;
    margin:auto;
}
.marco{
    padding-top: 50px;
}
