.servicio-cliente{
    padding-left: 0;
    display: block;
    margin: auto;
}

main li a{
    list-style: none;
    text-decoration: none;
}

.servicios{
    background-color: white;
    color: rgb(4, 0, 255);
    font-size: 20px;
    padding-left: 10px;

}
.marco-atencion{
    padding-top: 80px;
}
.atencion-cliente{
    border: solid;
    display: block;
    margin: auto;
    grid-area: body;
    width: 100vh;

}
.atencion{
    display: block;
    margin: auto;
    background-color: rgba(75, 75, 75, 0.795);
    width: 400px;
    text-align: center;
    gap: 10px;
    font-family: sans-serif;;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 20px;
}

.atencion-1{
    font-size: 20px;
    padding-left: 30px;
    margin-top: 50px;
    font-family: sans-serif;;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.atencion-2{
    padding-left: 30px;
    font-family: sans-serif;;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 20px;
}