/*index*/
@media (max-width:768px) {
    .config{
        background-image: url(../img/fondo-tablet.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        display: grid;
        grid-area: body;
        grid-template-rows: 100px 520px 100px;
        grid-template-areas:
        "body"
        "main"
        "footer"
        ;
    }
    .logo{
        margin-left: 90px;
        size: 50px;
    }

    .contenedor{
        display: flex;
    }

    .parrafo1{
        background-color: rgba(73, 73, 73, 0.747);
        width: 768px;
        font-family: sans-serif;
        font-weight: bolder;
        padding-left: 90px;
        padding-top: 15px;
        border: 5px;
        color: black;
        font-size: 20px;
        margin-top: 10px;
    }

    .parrafo2{
        background-color: rgba(73, 73, 73, 0.747);
        width: 768px;
        font-family: sans-serif;
        font-weight: bolder;
        padding-left: 90px;
        padding-top: 10px;
        border: 5px;
        color: black;
        font-size: 15px;
    }

    .contenedor-mobile{
        display: flex;
        box-sizing: border-box;
        width: 70px;
        height: 50px;
        padding-right: 0%;
    }

    .container-fluid{
        position: absolute;
        right: 5px;
    }

    .footer{
        padding: 0px;
        margin: 0px;
    }
}
/*novedades*/
@media (max-width:768px) {
    .estructura{
        display: block;
        margin-left: 90px;
        width: 500px;
    }

    .info-autos{
        margin-bottom: 10px;
    }


    .fotos-autos{
        border: solid black;
        border-radius: 5% 5% 5% 5%;
        max-width: 350px;
    }

    .btn-close{
        position: absolute;
        right: 60px;
    }
}
/*galeria*/
@media (max-width:768px) {
    .config1{
        display: grid;
        grid-area: body;
        grid-template-rows: 100px 500px 100px;
        grid-template-areas: 
        "body"
        "main"
        "footer"
        ;
    }
    .modelo{
        border: solid rgb(0, 0, 0);
        width: 500px;
        height: 300px;
        display:block;
        margin:auto;
    }
    
    .control{
        display: none;
    }
    .custom-colors{
        display: none;
    }
}
/*atencion al cliente*/
@media (max-width:768px) {
    .config2{
        display: grid;
        grid-area: body;
        grid-template-rows: 100px 500px 100px;
        grid-template-areas: 
        "body"
        "main"
        "footer"
        ;
    }

    .servicio-cliente{
        margin-top: 0px;
    }

    .servicios{
        list-style: none;
        text-decoration: none;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .atencion-cliente{
        border: solid;
        display: block;
        width: 50vh;
    
    }
    .atencion{
        text-align: center;
        padding-left: 20px;
        gap: 10px;
        font-family: sans-serif;;
        color: rgb(0, 0, 0);
        font-weight: bolder;
        font-size: 15px;
    }
    
    .atencion-1{
        font-size: 20px;
        padding-left: 80px;
        margin-top: 50px;
        font-family: sans-serif;;
        color: rgb(255, 255, 255);
        font-weight: bolder;
    }
    
    .atencion-2{
        padding-left: 80px;
        font-family: sans-serif;;
        color: rgb(255, 255, 255);
        font-weight: bolder;
        font-size: 20px;
    }
}
    //*formulario*//
    @media (max-width:768px){
        .config4{
            background-image: url(../img/fondo.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            display: grid;
            grid-area: body;
            grid-template-rows: 100px 720px 100px;
            grid-template-areas: 
            "body"
            "main"
            "footer"
            ;
        }
        main fieldset div{
            border: black;
        }
        
        .cuadros{
            padding-left: 50px;
        }

        .cuadro-de-informacion{
            border: solid rgb(0, 0, 0);
            width: 650px;
            margin: 0px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(248, 247, 253, 0.705);
        }
        
        .cuadro-de-informacion1{
            margin: 20px;
            padding: 20px;
        }
        
        fieldset legend{
            text-align: center;
            font-weight: bold;
        }
        
        .holder{
            width: 300px;
        }
        
        .text-area{
            display: block;
            margin: auto;
            border-radius: 10px;
            width: 600px;
        }
        
        .boton-envio{
            display: block;
            margin: auto;
            margin-top: 10px;
            width: 100px;
            margin-bottom: 10px;
        }
        
        .datos{
            gap: 10px;
            font-size: x-large;
            font-weight: bolder;
        }
        
        .espacios{
            margin-bottom: 20px;
        }
        
        .letra{
            font-size: 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bolder;
            text-align: center;
        }
}